/* body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23e3c9;
} */
*{
    font-family: Arial,sans-serif;
}
.content{
    margin-top:94px;
    padding: 20px 18%;
}
.head-content{
    display: flex;
    flex-direction: row;
    position: relative;
}
.hotvpop{
    position: absolute;
    right: 0;
    top: 0;
}

.slider{
    position: relative;
    width: 828px;
    height: 310px;
    overflow: hidden;
}

.slides{
    width: 1000%;
    height: 310px;
    display: flex;
}

.slide{
    width: 10%;
    transition: 2s;
}
.slide img{
    width: 828px;
    height: 310px;
}
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.slider input{
    display: none;
}
.manual-btn{
    display: none;
    background: white;
    border:2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.slider:hover  .navigation-manual .manual-btn{
    display: block;
}
.manual-btn:not(:last-child){
    margin-right: 20px;
}
.manual-btn:hover{
    border: 2px solid #009966;
    background:#009966;
}
.manual-btn:active{
    background: #009966;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -10%;
}
#radio3:checked ~ .first{
    margin-left: -20%;
}
#radio4:checked ~ .first{
    margin-left: -30%;
}
#radio5:checked ~ .first{
    margin-left: -40%;
}
#radio6:checked ~ .first{
    margin-left: -50%;
}
#radio7:checked ~ .first{
    margin-left: -60%;
}
#radio8:checked ~ .first{
    margin-left: -70%;
}
#radio9:checked ~ .first{
    margin-left: -80%;
}
h2.name{
    color: white;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.playlist{
    position: relative;
    width: 218px;
    height: 218px;
    background-color: #DDD;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8421743697478992) 0%, rgba(119,97,97,0.5704656862745099) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;

}
.overlay img{
    width: 60px;
    transform: scale(0.5);
    transition: all 0.3s;
}
.playlist:hover .overlay{
    opacity: 1;
}
.playlist:hover .overlay img{
    transform: scale(1);
}
ul{
    display: block;
    list-style-type: none;
}
.item-bxh{
    width: 100%;
    height: 68px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
    font-family: Arial,sans-serif;
    border-bottom: 1px solid #303b4a;
}
.list-items-bxh{
    padding: 0 0;
    width: 100%;
}
.item-bxh .info{
    flex-grow: 1;
}
.item-bxh .number{
    font-size: 20px;
    padding: 0 15px;
    color: #fff;
}
.singer{
    color: #999;
}
.song-title{
    margin-bottom:8px ;
}
.view-count{
    color: #999;
    font-size: 15px;}
.song-title{
    font-size: 15px;
}
.song-title a{
    text-decoration: none ;
    color:#fff;
}
.song-title:hover a{
    color:#009966;
    text-decoration: none;
}
.singer:hover a{
    text-decoration: none;
}
.item-bxh-1{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
}
.item-bxh-1 .bg-overlay-home{
    width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 8px;
}
.number-first{
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
.item-bxh-1 .song-title{
    font-size: 15px;
    font-weight: bold;
}

.box-content{
    width: 840px;
    height: 459px;
    border-top: 1px solid #303b4a;
    padding: 0 0;
}
li[class^="new-song"]{
    width: 411.59px;
    height: 91px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #303b4a;
}
.artist-list{
    padding:0;
    margin: 0;
}
li[class^="new-song"] .info{
    margin-left: 20px;
}
.new-song-1{
    float: left;
}
.new-song-2{
    float: right;
}
.singer a{
    text-decoration: none;
    color: #6A8385;
    font-size: 14px;
}
.singer a:hover{
    color: #009966;
}
.box-content-mv{
    width: 100%;
}
.first-mv{
    height: 169px;
    width: 100%;
    background-image: url("/image/mv/cohenvshanhphuc.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.first-mv-content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}
.first-mv-content .chart-stt{
    color: white;
    font-size: 24px;
    margin-right: 10px;
    font-weight: bold;
}
.manual-mv{
    height: 83px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #303b4a;
    width: 100%;
}
.song-artist-avatar{
    width: 36.67%;
    height: 62px;
    background-image: url("/image/mv/2.jpg");
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}
.chart-stt-manual{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.6);
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 270px;
}
.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 20px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #40D3DC;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background: #40D3DC;
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background: #40D3DC;
}
#radio8:checked ~ .navigation-auto .auto-btn8{
    background: #40D3DC;
}
#radio9:checked ~ .navigation-auto .auto-btn9{
    background: #40D3DC;
}
.now-playlist{
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
}
.slider-playlist{
    display: flex;
    width: 1000%;
    transition: 2s;
    margin-left: 0px;
}
.slider-playlist img{
    margin-right: 20px;
}
.playlist{
    margin-right: 25px;
}
.middle-content{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.col1{
    width: 71.79%;
    margin-right: 10px;
}
.col2{
    width: 27.4%;
}
.box-title{
    margin-top: 30px;
    width: 100%;
    height: 44px;
    clear: both;
}

.box-title .name{
    float: left;
    width: 10%;
    text-align: left;
    margin-right: 5%;
}
.name a{
    color: #fff;
}
.btn-ty li{
    float: left;
    padding-top:5px ;
}
.pre-active{
    font-weight: bold;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-right: 10px;
    padding-bottom: 1px;
    padding-bottom: 3px;
}
.pre-active:hover{
    color: #fff;
}
.next{
    color: #6A8385;
}
.next:hover{
    font-weight: bold;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-right: 10px;
    padding-bottom: 1px;
    padding-bottom: 3px;
}
.btn-ty{
    line-height: 35px;
    
}
.btn-ty li a{
    text-decoration: none;
}
.albums{
    width: 195px;
    height: 195px;
    position: relative;
    background-color: #fff;
}
.albums:hover .overlay{
    opacity: 1;
}
.albums:hover .overlay img{
    transform: scale(1);
}
.album-list{
    width: 100%;
    margin-top: 25px;
}
.album-detail{
    width: 195px;
    height: 263px;
    float: left;
    margin-right: 16px;
}
h3.title {
    font-size: 14px;
    color: #fff;}
.title a{
    color: #fff;
    line-height: 20px;
}
.title a:hover{
    text-decoration: none;
    color: #009966;
}
.album-info{
    width: 100%;
    height: 47px;
    margin-top: 10px;
}
.singer-h4{
    line-height: 5px;
    font-size: 13px;
}
.singer-h4 a:hover{
    text-decoration: none;
    color: #009966;
}
.singer-h4 a{
    color:#6A8385;
}
.music-video{
    float: left;
    margin-right: 13px;
}
.bg-music-video{
    width: 410px;
    height: 231px;
    position: relative;
}
.bg-music-video:hover .overlay{
    opacity: 1;
}
.bg-music-video:hover .overlay img{
    transform: scale(1);
}
.duration{
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0,0.6);
}
.bg-music-video-small{
    width: 195px;
    height: 109px;
    position: relative;
    background: #fff;
}
.bg-music-video-small:hover .overlay{
    opacity: 1;
}
.bg-music-video-small:hover .overlay img{
    transform: scale(1);
}
.music-video-small{
    float: left;
    margin-right: 16px;
}
.artist-detail{
    width: 110px;
    height: 110px;
    background: #fff;
    position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.artist-detail:hover .overlay{
    opacity: 1;
}
.btn-ty-country{
    width: 70%;
    line-height: 35px;
    text-align: left;
    float: left;
}
.btn-ty-country li{
    float: left;
    margin-right: 4px;
    color: #fff;
}
.btn-ty-country li a.next-country-active{
    color: #fff;
}
.btn-ty-country li a:hover{
    text-decoration: none;
    color: #f60;
}
ul.btn-ty-country{
    padding: 15px 0px;
    line-height: 10px;
}
.pre-country-active{
    color: #f60;
}
.first-album-img{
    width: 110px;
    height: 110px;
    background-image: url('/image/artist/tung.png');
    background-position: center;
    background-size: cover;
    position: relative;
    margin-right: 20px;
}
.overflow-album{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.8421743697478992) 0%, rgba(22,21,21,1) 0%, rgba(32,31,31,1) 0%, rgba(15,14,14,1) 11%, rgba(255,255,255,0) 100%);

}
.first-album-img .number-first{
    position: absolute;
    bottom: 0px;
    left: 5px;
}
.first-album{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.name a:hover{
    text-decoration: none;
    color: #009966;
}
.nav-theme{
    position: absolute;
    padding: 0 0;
    width: 650px;
    display: none;
}
.nav-theme li{
    display: block;
    float: left;
    width: 33.33%;
    line-height: 42px;
    background-color: #fff;
    border-bottom: 1px solid #EEE;
}
.nav-theme a{
    text-decoration: none;
    border-bottom: none;
    font-family: Arial,sans-serif;
    font-weight: normal;
    color: #333;
    padding-left: 20px;
}
.nav-theme a:hover{
    text-decoration: none;
    border-bottom: none;
}
.theme h-100:hover .nav-theme{
    display: block;
}
.playicon{
    float: right;
}
.playicon a {
    color: white;
    font-size: 30px;
}
.artist-details{
    width: 210px;
    position: relative;
    margin-top: 20px;
    float: left;
    margin-right: 25px;
}
.artist-details img{
    border-radius: 50%;
}
.artist-overlays{
    width: 210px;
    height: 210px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}
.artist-list-ns{
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 0 0;
}
.heart-icon a{
    color: white;
    font-size: 30px;
    font-weight: normal;
}
.artist-overlays .playicon{
    float: none;
    position: absolute;
    bottom: 30px;
    left: 60px;
    
}
.artist-img:hover .artist-overlays{
    opacity: 1;
}
.heart-icon{
    position: absolute;
    bottom: 30px;
    left: 121px;
}
.artist-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
}
h3.name-artist{
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
h4.follow{
    font-size: 14px;
    text-align: center;
    color: #6A8385;
}
.name-artist a{
    color: #fff;
    font-weight: bold;
}
.name-artist a:hover{
    color: #009966;
    text-decoration: none;
}
.box-title-select{
    float: right;
}
.box-title-select select{
    width: 180px;
    height: 34px;
    border: 1px solid #fff;
    color: #999;
    font-size: 14px;
    background: #192536;
    margin-left: 10px;
}
ul.pager{
    margin-top: 20px;
    margin-bottom:40px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.pager li{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pager li a{
    color: #fff;
}
.pager li.active{
    background-color: #009966;
    border-radius: 50%;
}
.pager li:hover{
    background-color: #009966;
    border-radius: 50%;
    
}
